{% extends template %}
{% block content %}


<div class="container">
  <br><br><br><br>
  {% if user.role == 'Teacher' %}
  <a class="btn btn-primary" href="{% url 'book-incident' %}" style="margin-left: 5%;">Book Student</a>
  <br><br>
  {% if incidents %}
  <table class="table" style="margin: 30px auto;">
    <thead>
      <tr>
        <!-- <th><h6>Id</h6></th> -->
         <th><h6>Student</h6></th>
         <th><h6>Class</h6></th>
         <th><h6>Offence</h6></th>
        <th><h6>Points Remaining</h6></th>
        
      </tr>
    </thead>
    <tbody>
      {% if incidents %}
      {% for incident in incidents %}
        <tr>
          <td><a href="{% url 'manage-booked-incident' incident.id %}">{{ forloop.counter }}. {{ incident.user.personalprofile.f_name }} {{ incident.user.personalprofile.l_name }} {{ incident.user.personalprofile.surname }}</a></td>
          <td>{{ incident.user.academicprofile.current_class }}</td>
          <td>{{ incident.incident.name }}</td>
          <td>{{ incident.incident.points }} | {{ incident.user.studentdisciplinescore.points }}</td>
        </tr>   
      {% endfor %}
      {% else %}
      <tr>
        <td>
          <h6 class="text-center">There are 0 booked incidents</h6>
        </td>
      </tr>
        
      {% endif %}
    </tbody>
 </table>
 {% endif %}
{% else %}
  <div class="expenses">
  <table class="table" style="margin: 30px auto;">
    <thead>
      <tr>
        <!-- <th><h6>Id</h6></th> -->
         <th><h6>Student</h6></th>
         <th><h6>Class</h6></th>
         <th><h6>Offence</h6></th>
        <th><h6>Points Remaining</h6></th>
        
      </tr>
    </thead>
    <tbody>
      {% if incidents %}
      {% for incident in incidents %}
        <tr>
          <td><a href="{% url 'manage-booked-incident' incident.id %}">{{ forloop.counter }}. {{ incident.user.personalprofile.f_name }} {{ incident.user.personalprofile.l_name }} {{ incident.user.personalprofile.surname }}</a></td>
          <td>{{ incident.user.academicprofile.current_class }}</td>
          <td>{{ incident.incident.name }}</td>
          <td>{{ incident.incident.points }} | {{ incident.user.studentdisciplinescore.points }}</td>
        </tr>   
      {% endfor %}
      {% else %}
      <tr>
        <td>
          <h6 class="text-center">There are 0 booked incidents</h6>
        </td>
      </tr>
        
      {% endif %}
    </tbody>
 </table>

<div class="data-card" style="overflow-y: scroll;">
  <h6>Suspended Students</h6>
{% for std in suspended %}
  <div style="display: grid;grid-template-columns: auto auto;">
    <h6><a href="{% url 'students-discipline' std.user %}" style="color: cornflowerblue;">{{ forloop.counter }}. {{ std.user.personalprofile.get_names }}</a></h6>
    <h6>{{ std.user.academicprofile.current_class }}</h6>
  </div>


{% endfor %}
</div>
{% endif %}
</div>

{% endblock %}