{% extends template %}
{% block content %}


<div class="container">
  <br><br><br><br>
  {% if incident %}
  <form method="post">

    {% csrf_token %}
    <div class="input-group" style="position: absolute;top:90px;right: 7.5%;width: 300px !important;">
      <input class="form-control" name="command" placeholder="enter 'delete' to delete">
      <button class="btn btn-danger" name="delete" >Delete</button>
    </div>
    </form>
    <br><br>
    <form  method="post">
        {% csrf_token %}
        <div class="mb-3">
           
            <input type="text" class="form-control" name="name" value="{{ incident.name }}"   placeholder="Noise Making" aria-label="Recipient's username" aria-describedby="button-addon2" required>
        </div>

        <div class="mb-3">
            
            <input type="text" class="form-control" name="degree" value="{{ incident.incident_degree }}"   placeholder="CRITICAL" aria-label="Recipient's username" aria-describedby="button-addon2" required>
        </div>

        <div class="mb-3">
            
            <textarea type="textarea" class="form-control" name="description"  placeholder="Offence for causing noise disturbance."  required>{{ incident.description }}</textarea>
        </div>

        <div class="mb-3">
            <span>Points</span>
            <input type="number" class="form-control" name="points" value="{{ incident.points }}"   placeholder="Noise Making" aria-label="Recipient's username" aria-describedby="button-addon2" required>
        </div>


        <button class="btn btn-warning" style="color: white;" name="update">Update</button> 
    </form>
    {% else %}
    {% endif %}
</div>
{% endblock %}