{% extends 'Supervisor/base.html' %}
{% block content %}

<br><br><br><br>

<div class="container">
{% if not is_current %}
  <form method="post">

    {% csrf_token %}
    <button class="btn btn-outline-secondary" name="set-term">Set As Current Term</button>
  </form>
{% else %}
<button class="btn btn-primary" name="set-term">{{ current }} - {{ current.term.year }}</button>

{% endif %}
    <form method="post">

      
      <br><br>
        {% csrf_token %}
            <div class="mb-3">
              <label  class="form-label">Term</label>
              <select class="form-select" aria-label="Default select example" name="term">
                <option value="{{ term.term }}">{{ term.term }}</option>
                <option value="Term 1">Term 1</option>
                <option value="Term 2">Term 2</option>
                <option value="Term 3">Term 3</option>
                
              </select>            
            </div>

            <div class="mb-3">
              <label  class="form-label">Year</label>
              <input type="number" class="form-control" name="year" value="{{ term.year }}"  placeholder="{{ term.year }}">
            </div>


            <div class="mb-3">
              <label  class="form-label">Starts At {{ term.starts_at }}</label>
              <input type="date" class="form-control" name="start" value="" placeholder="{{ term.starts_at }}" required>
            </div>

            <div class="mb-3">
              <label  class="form-label">Ends At {{ term.ends_at }}</label>
              <input type="date" class="form-control" name="end" placeholder="{{ term.ends_at }}" required>
            </div>

            <button class="btn btn-primary" name="edit">Save</button> 
            
            
    </form>
    <form method="post">

        {% csrf_token %}
        <div class="input-group" style="position: absolute;top:90px;right: 7%;width: 300px !important;">
          <input class="form-control" name="command" placeholder="enter 'delete' to delete">
          <button class="btn btn-danger" name="delete" >Delete</button>
        </div>
        </form>

</div>

{% endblock %}